<div class="container mt-5">
  <h1>Vagas de emprego</h1>

  <div class="body mt-4">

    <div class="row mb-2">
      <div class="card">
        <div class="row mb-2">
          <div class="col-md-2 p-3">
            <%= image_tag "https://sinaxys-s3.s3.sa-east-1.amazonaws.com/csyhpx7ot1jrnnipmi8oxnxhtvfr?response-content-disposition=inline%3B%20filename%3D%22WhatsApp%20Image%202020-07-02%20at%2016.55.32.jpeg%22%3B%20filename%2A%3DUTF-8%27%27WhatsApp%2520Image%25202020-07-02%2520at%252016.55.32.jpeg&response-content-type=image%2Fjpeg&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA5ZH5LOHFMKWNXQM7%2F20221127%2Fsa-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221127T181544Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Signature=fc77f62919942b34db89240f89fb6b38a13eb57faf930514c2d07f62b66da899", class: "card-img-top rounded-3 shadow-sm job-image" %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3>Pedriatra</h3>
              <p>R$ 750,00/Plantão • Clínica São Lucas</p>
              <p>Porto Alegre/RS</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="card">
        <div class="row mb-2">
          <div class="col-md-2 p-3">
            <%= image_tag "https://sinaxys-s3.s3.sa-east-1.amazonaws.com/csyhpx7ot1jrnnipmi8oxnxhtvfr?response-content-disposition=inline%3B%20filename%3D%22WhatsApp%20Image%202020-07-02%20at%2016.55.32.jpeg%22%3B%20filename%2A%3DUTF-8%27%27WhatsApp%2520Image%25202020-07-02%2520at%252016.55.32.jpeg&response-content-type=image%2Fjpeg&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA5ZH5LOHFMKWNXQM7%2F20221127%2Fsa-east-1%2Fs3%2Faws4_request&X-Amz-Date=20221127T181544Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Signature=fc77f62919942b34db89240f89fb6b38a13eb57faf930514c2d07f62b66da899", class: "card-img-top rounded-3 shadow-sm job-image" %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3>Pedriatra</h3>
              <p>R$ 750,00/Plantão • Clínica São Lucas</p>
              <p>Porto Alegre/RS</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>