<% if flash.present? %>
  <div class="row">
    <div class="col-lg-6">
      <% if flash[:notice].present? %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:error].present? %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= flash[:error] %>
      </div>
    <% end %>
    </div>
  </div>
<% end %>

<script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>

<script>
  window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
  }, 3000);
</script>