<nav class="navbar nav-expand-lg bg-primary-dark">
  <div class="container">
    <div class="row h-100 w-100 p-2">
      <div class="col-8">
        <div class="logo">
          <%= image_tag "logo-white.svg", class: "navbar-brand" %>
        </div>
      </div>
      <div class="col-4 text-center">
        <div class="navbar-nav">
          <div class="d-flex">
            <div class="item">
              <%= link_to "Cadastre-se", "#", class: "nav-link text-white fw-bold me-3" %>
            </div>

            <div class="item">
              <%= link_to "Acesse sua conta", "#", class: "btn btn-outline-light fw-normal" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>